* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Caprasimo", serif;
  }
  
  /* Estilos para el header */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f5ebdc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .nav-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Asegura que el nav esté por encima de otros elementos */
    background-color: #f8f8f8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .logo img {
    width: 100px; 
  }
  
  nav ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   display: flex;
  }
  
  nav ul li {
    display: inline-block;
    margin-left: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  .desplegable ul {
    display: none;
    position: absolute;
    background-color: #f5ebdc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  
  .desplegable:hover ul {
    display: block;
  }
  
  .desplegable ul li {
    display: block;
    padding: 10px;
  }
  
  .desplegable ul li a {
    color: #333;
  }
  
  .boton-inicio-sesion {
    background-color: brown; /* Fondo rojo claro */
    color: white; /* Texto blanco */
    border: none; /* Sin borde */
    padding: 5px;
    margin-right: 100px;
    margin-left: 200px;
    font-size: 16px; /* Tamaño del texto */
    border-radius: 5px; /* Bordes redondeados */
}
section {
  background-color: #f5ebdc;
  padding: 50px 0;
  text-align: center;
  margin-top: 100px; /* Ajusta este valor según sea necesario para separar la tabla del navbar */
}

.container {
  max-width: 900px;
  margin: 20px auto;
  padding: 40px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.container h2 {
  text-align: center;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
}

.form-group input,
.form-group select,
.form-group textarea {
  width: calc(100% - 12px);
  padding: 10px;
  border: 1px solid #666666;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #f5ebdc;
  color: #333;
}

.form-group input[type="file"] {
  width: calc(100% - 80px);
}

.form-group select {
  width: 100%;
}

.form-group textarea {
  height: 100px;
}

.submit-btn,
.reset-btn {
  background-color: #ff6d00;
  color: #ffffff;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  text-transform: uppercase;
}

.submit-btn:hover,
.reset-btn:hover {
  background-color: #ff8c3f;
}



.boton_enviar{
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
  width: calc(100% - 20px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}