* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Caprasimo", serif;
}

/* Estilos para el header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f5ebdc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    /* Asegura que el nav esté por encima de otros elementos */
    background-color: #f8f8f8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo img {
    width: 100px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.desplegable ul {
    display: none;
    position: absolute;
    background-color: #f5ebdc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.desplegable:hover ul {
    display: block;
}

.desplegable ul li {
    display: block;
    padding: 10px;
}

.desplegable ul li a {
    color: #333;
}

.boton-inicio-sesion {
    background-color: brown;
    /* Fondo rojo claro */
    color: white;
    /* Texto blanco */
    border: none;
    /* Sin borde */
    padding: 5px;
    margin-right: 100px;
    margin-left: 200px;
    font-size: 16px;
    /* Tamaño del texto */
    border-radius: 5px;
    /* Bordes redondeados */
    cursor: pointer;
    /* Cambia el cursor al pasar sobre el botón */
}

.seccion-novedades {
    padding-top: 300px;
    padding: 200px 90px;
    background-color: #f5ebdc;
}

.fila {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.cajetilla {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    width: 48%; /* Ajusta este valor según tus necesidades */
    background-image: url("https://www.shutterstock.com/image-vector/vector-seamless-pattern-hand-drawn-600nw-502222246.jpg");
}

.cajetilla img {
    width: 20%;
    height: auto;
    border-radius: 8px 8px 0 0;
}

.cajetilla .contenido {
    padding: 20px;
}

.cajetilla .contenido h3 {
    font-size: 24px;
    margin: 10px 0;
}

.cajetilla .contenido p {
    font-size: 16px;
    margin: 0 0 15px;
}

.cajetilla .boton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.cajetilla .boton:hover {
    background-color: #0056b3;
}