* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Caprasimo", serif;
}

/* Estilos para el header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f5ebdc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    /* Asegura que el nav esté por encima de otros elementos */
    background-color: #f8f8f8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo img {
    width: 100px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.desplegable ul {
    display: none;
    position: absolute;
    background-color: #f5ebdc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.desplegable:hover ul {
    display: block;
}

.desplegable ul li {
    display: block;
    padding: 10px;
}

.desplegable ul li a {
    color: #333;
}

.boton-inicio-sesion {
    background-color: brown;
    /* Fondo rojo claro */
    color: white;
    /* Texto blanco */
    border: none;
    /* Sin borde */
    padding: 5px;
    margin-right: 100px;
    margin-left: 200px;
    font-size: 16px;
    /* Tamaño del texto */
    border-radius: 5px;
    /* Bordes redondeados */
    cursor: pointer;
    /* Cambia el cursor al pasar sobre el botón */
}

.heroe {
    position: relative;
    text-align: center;
    color: white;
    padding-top: 100px;
    background-color: #f5ebdc;
}

.heroe img {
    width: 100%;
    height: auto;
}

.heroe h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Caprasimo', sans-serif;
    font-size: 48px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 10px;
}

.seccion-tarjetas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    padding: 50px;
    justify-items: center;
    background-color: #f5ebdc;
}

.tarjeta {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 1000px;
    text-align: center;
    padding: 20px;
}

.tarjeta img {
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.tarjeta h3 {
    font-size: 24px;
    margin: 15px 0;
}

.tarjeta p {
    font-size: 16px;
    margin-bottom: 15px;
}

.boton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
    margin-top: 30px;
}

.boton:hover {
    background-color: #0056b3;
}